<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
</head>
<body>
    <h1>Add a new password</h1><br><br>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="password" placeholder="password" required>
        <button type="submit">Save</button>
    </form>
</body>
</html>